@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

.container{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 20%;
    padding: 10px;
    text-align: center;
}

.container p{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: grey;
    padding: 15px;
    
}

.botao{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 80px;
    height: 30px;
}