/* #formulario{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 200px;
    // border: 3px solid black; 
    font-size: large;
} */

#container{
    margin: auto;
    width: 50%;
    border: 10px solid rgb(0, 0, 0);
    text-align: center;
    margin-top: 6%;
    width:  500px;
    height: 500px;
    /* background-color: rgb(149, 100, 194); */
    /*border-radius: 100px 1px;*/
    
}

input{
    width: 30px;
    height: 15px;
    /* font-size: large; */
    margin: 10px;
}

input[type=button]{
    width: fit-content;
    height: fit-content;
}

#entrada{
    margin-top: 25px;
}

#texto{
    /*display: none;*/
    margin: auto;
    margin-top: 80px;
    border: 1px solid rgb(0, 0, 0);
    width: 250px;
    height: 75px;
    text-align: center;
    padding: 10px;
}

/* p{
    line-height: 0.1;
} */

/* #topL, #topR, #botL, #botR {
    display: none;

}  */

